<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Thingy Snake</title>
        <link rel="stylesheet" href="snake.css">
    </head>

    <body>
        <button id="startButton" onclick="initialise();startGame();">Start Snake</button>
        <p id="scoreParagraph">Score : <span id="scoreSpan" th:text="${score}">0</span> </p>
        <button id="restartButton" onclick="startGame();hideAllEndPage();" hidden="hidden">Restart</button>
        <p id="nameParagraph" hidden="hidden">Enter your name here : </p>
        <input type="text" id="nameText" hidden="hidden"> </input>
        <button id="scoreButton" onclick="submitScore();" hidden="hidden">Submit score</button>

        <p id="PlayerScoreParagraph" hidden="hidden"> Find player scores :</p>
        <input type="text" id="findScoreText" hidden="hidden"> </input>
        <button id="playerScoreButton" onclick="playerScoreDisplay();" hidden="hidden">Find player</button>

        <p id="allScoreParagraph" hidden="hidden">Top 10 score :</p>
        <button id="allScoreButton" onclick="top10ScoreDisplay();" hidden="hidden">Top 10 scores</button>

    </body>

    <script src="js/libs/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <script src="js/MQTT.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
    <script src="js/configs.js"></script>
    <script src="js/startPage.js"></script>
    <script src="js/endPage.js"></script>
    <script src="js/snake.js"></script>
    <script src="js/graphics.js"></script>
</html>
