body{
    background: black;
    color: #afa;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.snake-board table {
    border-collapse: collapse;
}

.snake-board td {
    width: 20px;
    height: 20px;
    border: 0;
}

.snake-board .col {
    background-color: beige;
}

.snake-board .snake {
    background-color: blue;
}

.snake-board .fruit {
    background-color: green;
}

